.gap {
  height: 20px;
  width:100%;
}

.timeline {
  font-family: "Gill Sans", sans-serif;
  max-height: 700px !important;
  border-radius: 10px;
  overflow-y: auto;
}

.keyword-selector {
  border-radius: 10px;
  /*border: solid thin black;*/
  background-color: lightgray;
}

.keyword-selector > label {
  font-size: medium;
  /*padding: .5em 0 0 1.0em;*/
}

.keywords {
  list-style-type: none;
}

/* ++++++++++++++++++++++++++++++++ */

.add-event {
  background-color: lightgray;
  /*border: solid thin black;*/
}

/* ++++++++++++++++++++++++++++++++ */

.line {
  width: 2px;
  height: 25px;
  border: solid lightgray;
  margin: auto;
}


