.controls {
  font-family: "Gill Sans", sans-serif;
}

.keyword-selector {
  border-radius: 10px;
  /*border: solid thin black;*/
  background-color: lightgray;
}

.keyword-selector > label {
  font-size: medium;
  /*padding: .5em 0 0 1.0em;*/
}

.keywords {
  list-style-type: none;
}

/* ++++++++++++++++++++++++++++++++ */

.add-event {
  background-color: lightgray;
  /*border: solid thin black;*/
}

/* ++++++++++++++++++++++++++++++++ */

.events {
  list-style-type: none;
}

.events li {
  /*cursor: text;*/
  /*position: relative;*/
  /*left: 0;*/
  background-color: lightgray;
  border-color: lightgray;
  margin: 1.0em;
  padding: .3em 0;
  /*height: 3.0em;*/
  border-radius: 10px;
  text-align: center;
}


.events .date {
  /*display: inline-block;*/
  font-size: large;
  /*line-height: 1em;*/
  margin-right: .8em;
  border-radius: 6px;
  text-align: left;
  padding-left: 0.5em;

  background-color: white;
  border: solid thin darkgray;

}

.events .date:hover {
  cursor: text;
}

.events .date.readonly {
  background-color: inherit;
  border: solid thin lightgray;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.events .title {
  font-size: medium;
  color: darkslategray;
  width: 95%;
  border-radius: 6px;
  text-align: left;
  padding: 0.2em 0 0 1.5em;

  background-color: white;
  border: solid thin darkgray;
}

.events .title:hover {
  cursor: text;
}

.events .title.readonly {
  background-color: inherit;
  border: solid thin lightgray;
}

.events .delete-event {
  font-size: medium;
  float: right;
  padding-top: 0.5em;
}
.events .delete-event:hover {
  cursor: pointer;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.events .details {
  font-size: small;
  text-align: left;
  color: dimgray;
  width: 98%;
  resize: none;


  background-color: white;
  border: solid thin darkgray;
}

.events .details:hover {
  cursor: text;
}

.events .details.readonly {
  background-color: inherit;
  border: solid thin lightgray;
}


.events .details .text-details {
  padding: 0.5em 0.2em 0 0.2em;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */





.events .image {
  padding: 0 0.5em 0em 0;
}

.events img {
  border: 2px solid black;
}

/*.events .image {*/
  /*display: inline-block;*/
  /*font-size: small;*/
  /*color: white;*/
  /*padding: 0.8em 0.7em 0.8em 0.7em;*/
  /*background-color: gray;*/
  /*line-height: 1em;*/
  /*left: -1px;*/
  /*top: -4px;*/
  /*!*height: 1.8em;*!*/
  /*margin-left: .8em;*/
  /*margin-right: .8em;*/
  /*border-radius: 6px;*/
/*}*/





