<div class="gap"></div>
<div class="container timeline">
  <div class="row justify-content-center" *ngIf="events">
    <div class="col-sm">
      <div class="events">
        <div *ngFor="let event of events; let last = last;">
          <app-event
            [eventData]="event.eventData" (emitUpdateEvent)="onUpdateEvent($event)"
            (emitDeleteEvent)="onDeleteEvent($event)"></app-event>
          <div class="line" *ngIf="!last"></div>
        </div>
      </div>
    </div>
  </div>
</div>

