<h1>Timeline Playground</h1>

<app-error-message></app-error-message>

<div class="container controls">

  <div class="row">
    <div class="col-sm-6">
      <app-keyword
        [timelineData]="events"
        (onKeywordUpdate)="onUpdateToEnabledKeywords($event)">
      </app-keyword>
    </div>
    <div class="col-sm-6">
      <app-add-event (emitEvent)="addEvent($event)"></app-add-event>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <app-horizontal-timeline
        [timelineData]="events"
        [enabledKeywords]="enabledKeywords"
        (emitEvent)="updateEvent($event)"
        (emitDeleteEvent)="deleteEvent($event)"
      ></app-horizontal-timeline>
    </div>
  </div>

</div>


